/* Ini CSS External */

.main-header h1 {
    background-color: mediumpurple;
    padding: 24px;
    text-align: center;
}

main {
    text-align: center;
}

.container-main {
    background-color: lavender;
    padding: 40px;
    margin: auto;
}

.container-text {
    padding: 10px;
}

.nav-fitur {
    display: flex;
    flex-direction: column;
}

.nav-fitur summary {
    color: white;
    background-color: mediumpurple;
    margin: 15px auto 5px;
    padding: 16px;
    width: 50%;
    align-self: center;
}

.nav-fitur summary:hover {
    color: mediumpurple;
    background-color: lavenderblush;
    transform: scale(1.05);
    z-index: 1;
}

#persegi {
    background-color: lavender;
    max-width: 700px;
    margin: 0 auto;
}

section {
    padding: 0 16px;
}

.kotakin {
    color: black;
    background-color: mediumpurple;
    border: 5px solid;
    padding: 20px;
    margin: 20px;
}

.section-header {
    background-color: mediumpurple;
    color: white;
    padding: 16px;
}

.section-image {
    background-image: url(../assets/persegi.png);
    width: 100px;
    height: 100px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.calculate-content {
    border: 1px solid;
    height: 300px;
}


footer {
    text-align: center;
}