/* Ini CSS External */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Metamorphous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2020/10/31/09/35/violet-5700689_640.jpg);
    background-size: 15%;
    background-repeat: repeat;
}
.wrapper {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    background-color: lavender;
}
.main-header {
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px;
    text-align: center;
}

.main-header h1 {
    font-family: DM Serif Text, serif;
    text-align: center;
}

main {
    padding: 30px;
    text-align: center;
}

.container-main {
    background-color: lavender;
    padding: 16px;
    max-width: 800px;
    margin: auto;
}

.container-text {
    font-family: DM Serif Text, serif;
    padding-bottom: 10px;
}

.nav-fitur {
    display: flex;
    flex-direction: column;
}

.nav-fitur summary {
    font-family: DM Serif Text, serif;
    color: white;
    background-color: mediumpurple;
    margin: 15px auto 5px;
    padding: 16px;
    width: 50%;
    align-self: center;
}

.nav-fitur summary:hover {
    color: mediumpurple;
    background-color: lavenderblush;
    transform: scale(1.05);
    z-index: 1;
}

#persegi {
    background-color: lavender;
    max-width: 700px;
    margin: 0 auto;
}

#persegi-panjang {
    background-color: lavender;
    max-width: 700px;
    margin: 0 auto;
}


section {
    padding: 0 16px;
}

.kotakin {
    color: black;
    background-color: mediumpurple;
    border: 5px solid;
    padding: 20px;
    margin: 20px;
}

.section-header {
    background-color: mediumpurple;
    color: white;
    padding: 16px;
}

.section-image {
    background-image: url(../assets/persegi.png);
    width: 100px;
    height: 100px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.calculate-content {
    background-color: lavender;
    border: 5px solid;
    height: 150px;
    padding: 20px;
    margin: 20px;
}

footer {
    font-family: DM Serif Text, serif;
    background-color: mediumpurple;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    text-align: center;
}