@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Rye&display=swap');
.biru {background-color: aqua;}
.kuning h1 {
    font-family: Merienda;
}
.biru h1 {
    font-family: Rye;
    color: chocolate;
}
.biru h2 {
    font-family: Arial, Helvetica, sans-serif;
}